<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ templateDir }}assets/favicon.ico" />
    <link rel="stylesheet" href="{{ adminDir }}assets/styles.css">
    <script src="{{ templateDir }}assets/js/fontawesome.min.js" crossorigin="anonymous"></script>
    <!-- TinyMCE-CDN -->
    <script src="https://cdn.tiny.cloud/1/nardrzsp6k0vlku08lpg2uu9pn6pz1ttv00vcg5qcqv93fkk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>    <!-- TinyMCE initialisieren -->
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author',
            mergetags_list: [
                { value: '{{ user }}', title: 'Author' },
            ]
        });
    </script>
</head>
<body>
<nav>
    <img class="centered" src="{{ templateDir }}assets/favicon.ico" height="64px" width="64px" alt="Logo1">
    <h2>Interface</h2>
    <ul>
        <li><a href="/admin/">Dashboard</a></li>
        <li><a href="/admin/articles" class="active">Artikel</a></li>
        <li><a href="/admin/tutorials">Tutorials</a></li>
        <li><a href="/admin/users">Nutzer</a></li>
    </ul>
</nav>
<main>
    <h1>Artikel bearbeiten</h1>
    <form id="create" method="post" action="/admin/articles/edit/{{ article['id'] }}/submitted">
        <label for="title">Titel:</label>
        <input type="text" name="title" required value="{{ article["title"] }}">
        <textarea id="editor" name="text">{{ article["text"] }}</textarea>
        <button type="submit">Artikel speichern</button>
    </form>
</main>
</body>
</html>