<!DOCTYPE html>
<html lang="de">
<!-- Include head -->
{% include 'include/head.html.twig' %}

<body>
<!-- Include navigation -->
{% include 'include/navigation.html.twig' %}


<!-- About -->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Verfügbare Befehle</h2>
                <p class="text-white-50">
                    Unser Ziel ist es, eine Vielzahl an Funktionen in einem Bot zu vereinen.
                    Mit {{ name }} wollen wir aus allen gängigen Bereichen die wichtigsten Befehle anbieten.
                    Hier erhältst du eine Liste, welche Befehle {{ name }} aktuell zu bieten hat.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{{ templateDir }}assets/img/phone.webp" alt="Ein Handy, auf welchem Discord geöffnet ist. Dort wird das Profil von {{ name }} angeschaut"/>
    </div>
</section>

<!-- Stats -->
<section class="stats-section text-center" id="stats">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Das sind die Zahlen</h2>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <!-- Command count -->
            <div class="col-md-4">
                <div class="stats-card commands">
                    <i class="fa-solid fa-terminal"></i>
                    <div>
                        <b>{{ guild_count|number_format(0, ",", ".") }}</b>
                        <span>Verfügbare Befehle</span>
                    </div>
                </div>
            </div>

            <!-- Total executed count -->
            <div class="col-md-4">
                <div class="stats-card commands-total">
                    <i class="fa-solid fa-list-ol"></i>
                    <div>
                        <b>{{ user_count|number_format(0, ",", ".") }}</b>
                        <span>Befehle ausgeführt</span>
                    </div>
                </div>
            </div>

            <!-- Today executed count -->
            <div class="col-md-4">
                <div class="stats-card commands-today">
                    <i class="fa-solid fa-calendar-day"></i>
                    <div>
                        <b>{{ vote_count|number_format(0, ",", ".") }}</b>
                        <span>Befehle heute ausgeführt</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Advantages -->
<section class="advantages-section text-center" id="advantages">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Befehle</h2>
                <p class="text-white-50">
                    -- TODO: Liste der Commands --
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Socialmedia -->
<section class="social-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="/redirect/support"><i class="fa-brands fa-discord"></i></a>
                <a class="mx-2" href="/redirect/twitter"><i class="fa-brands fa-twitter"></i></a>
                <a class="mx-2" href="/redirect/instagram"><i class="fa-brands fa-instagram"></i></a>
                <a class="mx-2" href="/redirect/github"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
{% include 'include/footer.html.twig' %}
</body>
</html>
