<!DOCTYPE html>
<html lang="de">

<!-- ======= Include head ======= -->
{% include "templates/head.html.twig" %}
<!-- End head -->

<body class="dark-mode">

    <!-- ======= Include header ======= -->
    {% include "templates/header.html.twig" %}
    <!-- End header -->

    <!-- ======= Include cookie banner ======= -->
    {% include "templates/cookieBanner.html.twig" %}
    <!-- End cookie banner -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Bot-Datenschutz</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Rechtliches</li>
                        <li>Bot-Datenschutz</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <h3>Bot-Datenschutz von {{ name }}</h3><br>

                <h5>Vorwort</h5>
                <p>
                    Diese Datenschutzerklärung regelt die Erfassung, Verwendung und Offenlegung von Daten der Discord-API durch den Discord-Bot {{ name }} (im Folgenden "der Bot" oder "{{ name }}") gemäß den Discord Developers Terms of Service.<br>
                    Durch die Verwendung von {{ name }} erklären Sie sich mit der unten aufgeführten Datenschutzerklärung einverstanden.<br>
                    Wenn Sie mit dieser Datenschutzerklärung nicht einverstanden sind, verwenden Sie den Bot bitte nicht.<br>
                    Wir, das Staff-Team von {{ name }}, sind der Betreiber und Eigentümer des Bots und verwenden den Begriff "wir", um uns zu beziehen.<br><br>
                </p>


                <h5>1. Erfasste Daten</h5>
                <p>
                    1.1 Serverdaten: {{ name }} erfasst und speichert Daten, die für seine Funktionen erforderlich sind, einschließlich, aber nicht beschränkt auf Server-IDs, Channel-IDs und Emoji- sowie Sticker-IDs.<br>
                    1.2 Benutzerdaten: {{ name }} erfasst keine personenbezogenen Daten von einzelnen Benutzern außer Account-IDs. Informationen wie E-Mail Adressen, Benutzernamen und anderweitige personenbezogenen Daten werden weder erfasst noch gespeichert.<br>
                    1.3 Anderweitige Daten: Andere Daten, darunter Nachrichteninhalte, Sprachnachrichten, Bilder, Videos, Dateien und Sprachaktivitäten werden weder erfasst noch gespeichert.
                </p><br>


                <h5>2. Verwendung der Daten</h5>
                <p>
                    2.1 Alle von {{ name }} erfassten Daten dienen lediglich zur Bereitstellung von Funktionen des Bots. Dies umfasst unter anderem Moderation und Administration eines Discord-Servers.<br>
                    2.2 Keine von uns erfassten oder gespeicherten Daten werden an Dritte weitergegeben, es sei denn dies ist gesetzlich vorgeschrieben oder zur Einhaltung der Discord Developers Terms of Service erforderlich.<br>
                </p><br>


                <h5>3. Datensicherheit</h5>
                <p>
                    3.1 Wir treffen angemessene technische und organisatorische Maßnahmen, um die erfassten Daten vor Verlust, Missbrauch oder unbefugtem Zugriff zu schützen. Wir setzen angemessene Sicherheitsmaßnahmen ein, um sicherzustellen, dass die Daten sicher und geschützt bleiben.<br>
                </p><br>


                <h5>4. Änderungen der Datenschutzerklärung</h5>
                <p>
                    4.1 Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit und nach eigenem Ermessen zu ändern oder zu aktualisieren. Die aktualisierte Datenschutzerklärung wird auf dieser Website veröffentlicht. Es liegt in Ihrer Verantwortung, regelmäßig nach Aktualisierungen der Datenschutzerklärung zu suchen.<br>
                </p><br>


                <h5>5. Kontakt</h5>
                <p>
                    5.1 Wenn Sie Fragen, Anmerkungen oder Bedenken bezüglich des Bots oder dieser Datenschutzerklärung haben, zögern Sie nicht uns zu kontaktieren. Unsere Kontaktdaten finden Sie im Impressum oder auf der Kontakt-Seite.
                </p><br>

                <p>Zuletzt aktualisiert: 19. Mai 2023</p>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "templates/footer.html.twig" %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ templateDir }}assets/vendor/aos/aos.js"></script>
    <script src="{{ templateDir }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ templateDir }}assets/js/main.js"></script>

    <!-- Cookie Banner JS -->
    <script src="{{ templateDir }}assets/js/cookieBanner.js"></script>

    <!-- Dark/Light Mode Switch CSS -->
    <script src="{{ templateDir }}assets/js/dark-light-switch.js"></script>

    <!-- Custom subpage CSS & JS -->
</body>
</html>