<!DOCTYPE html>
<html lang="de">

<!-- ======= Include head ======= -->
{% include "templates/head.html.twig" %}
<!-- End head -->

<body class="dark-mode">

    <!-- ======= Include header ======= -->
    {% include "templates/header.html.twig" %}
    <!-- End header -->

    <!-- ======= Include cookie banner ======= -->
    {% include "templates/cookieBanner.html.twig" %}
    <!-- End cookie banner -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Impressum</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Rechtliches</li>
                        <li>Impressum</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <h1>Impressum</h1>
                <h5>Angaben gemäß Informationspflicht laut § 5 Telemediengesetz (TMG).</h5><br>
                <h3>Diensteanbieter</h3>
                <p>
                    Jonas Pape<br>
                    c/o Florian Ohldag<br>
                    Ostseeallee 30<br>
                    18107 Rostock
                </p>

                <h3>Kontaktmöglichkeiten</h3>
                <p>
                    <strong>Tel.:</strong> +49 176 56879254<br>
                    <strong>E-Mail:</strong> <a href="mailto:hello@nevar.eu">hello@nevar.eu</a><br>
                    <strong>Kontakt-Formular:</strong> <a href="/contact-us">nevar.eu/contact-us</a>
                </p>

                <h3>Rechtliche Verfolgung bei Datenmissbrauch</h3>
                <p>
                    Die unangemessene Nutzung der oben genannten Daten, einschließlich Namen, Adressen, Telefonnummern und E-Mail-Adressen, wird von uns rechtlich verfolgt.
                    Jeglicher Missbrauch, insbesondere für unerwünschte Werbung, Spam oder Belästigung, stellt einen Verstoß gegen geltendes Recht dar und wird straf- und zivilrechtlich geahndet.
                </p>

                <h3>EU-Streitschlichtung</h3>
                <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.</p>
                <p>Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?lng=DE" target="_blank" rel="follow noopener">https://ec.europa.eu/consumers/odr/main/index.cfm?lng=DE</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
                <p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

                <h3>Haftung für Inhalte dieser Website</h3>
                <p>Wir entwickeln die Inhalte dieser Website ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Website übernehmen, speziell für jene, die seitens Dritter bereitgestellt wurden. Als Diensteanbieter sind wir nicht verpflichtet, die von Ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
                <p>Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit davon unberührt.</p>
                <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.</p>

                <h3>Haftung für Links auf dieser Website</h3>
                <p>Unsere Website enthält Links zu anderen Websites, für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
                <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.</p>

                <h3>Urheberrechtshinweis</h3>
                <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten wie zum Beispiel auf anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
                <p>Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu kontaktieren.</p>
                <p>Alle Texte sind urheberrechtlich geschützt.</p>

                <h3>Social Media und andere Onlinepräsenzen</h3>
                <p>Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und Onlineprofile:</p>
                <p>
                    <a href="/redirect/twitter">Twitter.com</a><br>
                    <a href="/redirect/instagram">Instagram.com</a><br>
                    <a href="/redirect/github">Github.com</a>
                </p>

                <p style="margin-top:15px">Quelle: Erstellt mit dem <a href="https://www.adsimple.de/impressum-generator/" title="Impressum Generator von AdSimple für Deutschland">Impressum Generator</a> von AdSimple</p>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "templates/footer.html.twig" %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ templateDir }}assets/vendor/aos/aos.js"></script>
    <script src="{{ templateDir }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{ templateDir }}assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ templateDir }}assets/js/main.js"></script>

    <!-- Cookie Banner JS -->
    <script src="{{ templateDir }}assets/js/cookieBanner.js"></script>

    <!-- Dark/Light Mode Switch CSS -->
    <script src="{{ templateDir }}assets/js/dark-light-switch.js"></script>

    <!-- Custom subpage CSS & JS -->
</body>
</html>