<!DOCTYPE html>
<html lang="de" >

<!-- ======= Include head ======= -->
{% include "templates/head.html.twig" %}
<!-- End head -->

<body>

  <!-- ======= Include header ======= -->
  {% include "templates/header.html.twig" %}
  <!-- End header -->

  <!-- ======= Hero Section ======= -->
  <section id="home" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="font-family:'All Round Gothic Bold'">Effizienz weitergedacht</h1>
          <h2>Mit {{ name }} bieten wir einen modernen Discord-Bot zur Unterstützung bei der Moderierung wie Verwaltung deines Discord-Servers</h2>
          <div>
            <a href="/invite" class="btn">Einladen</a>
            <a href="/support" class="btn">Support</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 home-img">
          <img src="{{ templateDir }}assets/img/logo_transparent.webp" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{{ templateDir }}assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Das ist {{ name }}</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Mit {{ name }} an deiner Seite werden zahlreiche Bots überflüssig. Dank seiner umfangreichen, aber benutzerfreundlichen Befehle wird das Verwalten sowie Moderieren deines Discord-Servers so einfach wie nie zuvor.
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class='bx bxl-discord-alt'></i>
                <h4>{{ guild_count|number_format(0, ",", ".") }} Server</h4>
                <p>So viele Eigentümer schenken uns ihr Vertrauen, und haben {{ name }} auf ihren Discord-Server eingeladen.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class='bx bxs-user' ></i>
                <h4>{{ user_count|number_format(0, ",", ".") }} Nutzer</h4>
                <p>Alle Discord-Server mit {{ name }} haben zusammen eine beeindruckende Anzahl an Mitgliedern erreicht.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class='bx bxs-terminal' ></i>
                <h4>{{ command_count|number_format(0, ",", ".") }} Befehle</h4>
                <p>Wir bieten eine umfangreiche Auswahl an Befehlen zur effizienten Verwaltung von {{ name }}.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class='bx bxs-upvote'></i>
                <h4>{{ vote_count|number_format(0, ",", ".") }} Votes im {{ month }}</h4>
                <p>So häufig wurde diesen Monat bisher für {{ name }} gevotet.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Advantages Section ======= -->
    <section id="advantages" class="advantages section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Vorteile</h2>
          <p>Diese Vorteile hast du mit {{ name }} an deiner Seite</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">Funktionen</h4>
              <p class="description">Durch zahlreiche umfangreiche Funktionen werden viele andere Bots überflüssig.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">Updates</h4>
              <p class="description">Mit regelmäßigen Updates halten wir {{ name }} stets aktuell, und fügen neue Funktionen hinzu.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title">Verfügbarkeit</h4>
              <p class="description">Mit einer Uptime von 99,9 % steht {{ name }} stets zur Verfügung, um dich zu unterstützen.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class='bx bxl-paypal' ></i></div>
              <h4 class="title">Kostenlos</h4>
              <p class="description">Anders als bei vielen anderen Bots, musst du für unsere besten Funktionen kein Geld zahlen.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Advantages Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Häufig gestellte Fragen</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Wie lade ich {{ name }} ein? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                  Du kannst {{ name }} über folgenden Link auf deinen Discord-Server einladen: <a href="/invite">Einladen</a>
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Was kann ich mit {{ name }} machen? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eine vollständige Liste aller Funktionen findest du unter dem <code>/help</code> Befehl, oder auf dieser <a href="/commands">Webseite</a>.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Wie melde ich Fehler, die mir aufgefallen sind? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Sollten dir Fehler oder anderweitige Probleme während der Nutzung von {{ name }} auffallen, kannst du diese mit dem <code>/reportbug</code> Befehl an uns melden.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Kann ich die Berechtigungen der Befehle anpassen? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{ name }} nutzt das Berechtigungssystem von Discord. Unter <b>»</b> Servereinstellungen <b>❯</b> Integrationen <b>❯</b> {{ name }} <b>«</b> kannst du für jeden Befehl einstellen, welche Nutzer und Rollen diesen in welchen Kanälen nutzen können.
              </b>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Kann ich {{ name }} vertrauen? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Darüber kannst nur du dir ein eigenes Urteil bilden. Wir geben unser Bestes, um alle wichtigen Sicherheitsstandards einzuhalten. Bei Fragen oder Bedenken, zögere nicht uns zu <a href="/contact-us">kontaktieren</a>.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Kann man die Sprache von {{ name }} ändern? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Derzeit ist nur Deutsch als Sprache verfügbar. Weitere Sprachen sind derzeit nicht geplant.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Wir stehen jederzeit zur Verfügung</p>
        </div>

        <div class="row">
          {% for staff in staffs %}
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member">
              <img src="{{ staff.avatar }}?size=2048" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>{{ staff.username }}</h4>
                  <span>{{ staff.role }}</span>
                </div>
                <div class="social">
                  <a href="https://discord.com/users/{{ staff.id }}" aria-label="Discord Profil von {{ staff.username }}"><i class="bi bi-discord"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Team Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% include "templates/footer.html.twig" %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script async src="{{ templateDir }}assets/vendor/aos/aos.js"></script>
  <script async src="{{ templateDir }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ templateDir }}assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script async src="{{ templateDir }}assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ templateDir }}assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script async src="{{ templateDir }}assets/js/main.js"></script>

</body>

</html>