<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3 style="font-family:'All Round Gothic Medium'">{{ name }}</h3>
                    <p>
                        Mit {{ name }} bieten wir einen modernen Discord-Bot zur Unterstützung bei der Moderierung wie Verwaltung deines Discord-Servers
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nützliche Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#about" class="scrollto">Über {{ name }}</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#advantages" class="scrollto">Vorteile</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#faq" class="scrollto">FAQ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#team" class="scrollto">Team</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/commands" class="scrollto">Befehle</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/redirect/vote" rel="noopener" target="_blank" class="scrollto">Voten</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Weitere Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/redirect/status" rel="noopener" target="_blank">Status</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/contact-us">Kontakt</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-use">Nutzungsbedingungen</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/bot-privacy">Bot-Datenschutz</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Datenschutzerklärung</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/imprint">Impressum</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Soziale Netzwerke</h4>
                    <p>Auf folgenden sozialen Netzwerken und Plattformen ist {{ name }} vertreten:</p>
                    <div class="social-links mt-3">
                        <a href="/redirect/support" class="discord" rel="noopener" target="_blank" aria-label="Support-Discord-Server"><i class="fa-brands fa-discord"></i></a>
                        <a href="/redirect/instagram" class="instagram" rel="noopener" target="_blank" aria-label="Instagram Seite von {{ name }}"><i class="fa-brands fa-instagram"></i></a>
                        <a href="/redirect/x" class="x" rel="noopener" target="_blank" aria-label="X Seite von {{ name }}"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="/redirect/github" class="github" rel="noopener" target="_blank" aria-label="Github Seite von {{ name }}"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright {{ 'now' | date('Y') }} <strong><span>{{ name }}</span></strong>. All Rights Reserved.
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ templateDir }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ templateDir }}assets/js/main.js"></script>

<!-- Cookie Banner JS -->
<script src="{{ templateDir }}assets/js/cookieBanner.js"></script>

<!-- Dark/Light Mode Switch CSS -->
<script src="{{ templateDir }}assets/js/dark-light-switch.js"></script>