<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Meta information -->
    <title>{{ name }} &middot; {{ title }}</title>
    <meta content="{{ metaDescription }}" name="description">
    <meta content="{{ metaKeywords }}" name="keywords">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ name }} &middot; {{ title }}">
    <meta property="og:description" content="{{ ogDescription }}">
    <meta property="og:image" content="{{ templateDir }}assets/img/logo_transparent.webp">
    <meta property="theme-color" content="#394f8a">

    <!-- Favicons -->
    <link href="{{ templateDir }}assets/img/logo_transparent.webp" rel="icon">
    <link href="{{ templateDir }}assets/img/logo_transparent.webp" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="{{ templateDir }}assets/css/fonts.css" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="{{ templateDir }}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ templateDir }}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" media="print" onload="this.media='all'">

    <!-- Font Awesome & Boxicons -->
    <link href="{{ templateDir }}assets/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="{{ templateDir }}assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" media="print" onload="this.media='all'">

    <!-- Main CSS -->
    <link href="{{ templateDir }}assets/css/style.css" rel="stylesheet">

    <!-- Cookie Banner CSS -->
    <link href="{{ templateDir }}assets/css/cookieBanner.css" rel="stylesheet">

    <!-- Dark/Light Mode Switch CSS -->
    <link href="{{ templateDir }}assets/css/dark-light-switch.css" rel="stylesheet">

    <!-- Matomo -->
    <script>
        if(getCookie("cookieConsent") === "true"){
            var _paq = window._paq = window._paq || [];
            _paq.push(['disableCookies']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//mtm.nevar.eu/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        }

        function getCookie(name){
            const nameEQ = name + "=";
            const cookies = document.cookie.split(";");
            for(const element of cookies) {
                let cookie = element;
                while(cookie.charAt(0) === " "){
                    cookie = cookie.substring(1, cookie.length);
                }
                if(cookie.indexOf(nameEQ) === 0){
                    return cookie.substring(nameEQ.length, cookie.length);
                }
            }
            return null;
        }
    </script>
</head>