<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ name }} · {{ title }}</title>
    <meta content="{{ metaDescription }}" name="description">
    <meta content="{{ metaKeywords }}" name="keywords">

    <!-- Favicons -->
    <link href="{{ templateDir }}assets/img/logo_transparent.webp" rel="icon">
    <link href="{{ templateDir }}assets/img/logo_transparent.webp" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="{{ templateDir }}assets/css/fonts.css" rel="stylesheet">
    <!-- Vendor CSS -->
    <link href="{{ templateDir }}assets/vendor/aos/aos.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link href="{{ templateDir }}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ templateDir }}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link href="{{ templateDir }}assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" media="print" onload="this.media='all'">
    <link href="{{ templateDir }}assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="{{ templateDir }}assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="{{ templateDir }}assets/css/style.css" rel="stylesheet">
</head>