<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ templateDir }}assets/favicon.ico" />
    <link rel="stylesheet" href="{{ adminDir }}assets/styles.css">
    <script src="{{ templateDir }}assets/js/fontawesome.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <img class="centered" src="{{ templateDir }}assets/favicon.ico" height="64px" width="64px" alt="Logo1">
    <h2>Interface</h2>
    <ul>
        <li><a href="/admin/">Dashboard</a></li>
        <li><a href="/admin/articles">Artikel</a></li>
        <li><a href="/admin/tutorials">Tutorials</a></li>
        <li><a href="/admin/users" class="active">Nutzer</a></li>
    </ul>
</nav>
<main>
    <h1>Benutzer bearbeiten</h1>
    <form id="create" method="post" action="/admin/users/edit/{{ user['id'] }}/submitted">
        <label for="name">Nutzername:</label>
        <input type="text" name="name" required value="{{ user["username"] }}">
        <label for="title">Neues Passwort:</label>
        <input type="password" name="password" required>
        <button type="submit">Benutzer speichern</button>
    </form>
</main>
</body>
</html>