<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ templateDir }}assets/favicon.ico" />
    <link rel="stylesheet" href="{{ adminDir }}assets/styles.css">
    <script src="{{ templateDir }}assets/js/fontawesome.min.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <img class="centered" src="{{ templateDir }}assets/favicon.ico" height="64px" width="64px" alt="Logo1">
    <h2>Interface</h2>
    <ul>
        <li><a href="/admin/">Dashboard</a></li>
        <li><a href="/admin/articles">Artikel</a></li>
        <li><a href="/admin/tutorials">Tutorials</a></li>
        <li><a href="/admin/users" class="active">Nutzer</a></li>
    </ul>
</nav>
<main>
    <h1>Benutzer</h1>
    <p>Hier können Benutzer vom {{ name }}-Interface verwaltet werden.</p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nutzername</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user["id"] }}</td>
                <td>{{ user["username"] }}</td>
                <td>
                    <a href="/admin/users/edit/{{ user['id'] }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/admin/users/delete/{{ user['id'] }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/admin/users/create"><button>Benutzer erstellen</button></a>
</main>
</body>
</html>