<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">
        <a href="/status">Status</a> &middot;
        <a href="/terms">Nutzungsbedingungen</a> &middot;
        <a href="/bot-privacy">Bot-Datenschutz</a> &middot;
        <a href="/privacy">Datenschutz</a> &middot;
        <a href="/imprint">Impressum</a>
    </div>
    <div class="container px-4 px-lg-5">
        Copyright &copy; {{ name }} {{ 'now'|date('Y') }}
    </div>
</footer>

<!-- Bootstrap core JS-->
<script src="{{ templateDir }}assets/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ templateDir }}assets/js/scripts.js"></script>
<!-- JQuery JS -->
<script src="{{ templateDir }}assets/js/jquery.min.js"></script>