<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ metaDescription }}" />
    <meta name="keywords" content="{{ metaKeywords }}" />

    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ templateDir }}assets/favicon.ico" />

    <!-- Font Awesome -->
    <script src="{{ templateDir }}assets/js/fontawesome.min.js" crossorigin="anonymous"></script>

    <!-- Local Google fonts-->
    <link href="{{ templateDir }}assets/css/fonts.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="{{ templateDir }}assets/css/bootstrap.css" rel="stylesheet" />
    <!-- Core theme CSS -->
    <link href="{{ templateDir }}assets/css/styles.css" rel="stylesheet" />
</head>